# File: /your/project/.envrc
use asdf
# The security mechanism didn't allow to load the .envrc. Since we trust it,
# let's allow its execution
#direnv allow .
#direnv: reloading
#direnv: loading .envrc
