---
# Only prepares first-boot installers; does NOT install during image build
prepare_security_firstboot: true

# Where the first-boot scripts read secrets/params (written by cloud-init)
security_env_file: /etc/pul/security-tools.env

# provided by cloud-init in packer
bigfix_masthead_url: "{{ lookup('env', 'BIGFIX_MASTHEAD_URL') | default('', true) }}"
rapid7_activation_token: "{{ lookup('env', 'RAPID7_TOKEN') | default('', true) }}"
rapid7_activation_attributes: "{{ lookup('env', 'RAPID7_ATTRIBUTES') | default('Library Systems', true) }}"

# Download URLs chosen by OS at runtime
bigfix_deb_url: "https://software.bigfix.com/download/bes/100/BESAgent-10.0.7.52-debian6.amd64.deb"
bigfix_rpm_url: "https://software.bigfix.com/download/bes/100/BESAgent-10.0.7.52-rhe6.x86_64.rpm"
bigfix_gpg_key_url: "https://software.bigfix.com/download/bes/95/RPM-GPG-KEY-BigFix-9-V2"

rapid7_deb_url: "https://us.storage.endpoint.ingress.rapid7.com/com.rapid7.razor.public/endpoint/agent/latest/linux/x86_64/rapid7_insight_agent_x64.deb"
rapid7_rpm_url: "https://us.storage.endpoint.ingress.rapid7.com/com.rapid7.razor.public/endpoint/agent/latest/linux/x86_64/rapid7_insight_agent_x64.rpm"
rapid7_rpm_pubkey: "https://us.storage.endpoint.ingress.rapid7.com/com.rapid7.razor.public/endpoint/agent/latest/linux/x86_64/Rapid7_public_key.pub"

# CrowdStrike Falcon (first-boot)
falcon_sensor_deb_url: ""     # can we try a temporary pre-signed/package URL for Debian/Ubuntu
falcon_sensor_rpm_url: ""     # can we try a temporary pre-signed/package URL for RHEL/Rocky
falcon_api_base: "https://api.crowdstrike.com"

allowed_admin_cidrs:
  - 10.249.64.0/18
  - 10.249.0.0/18
  - 128.112.0.0/16
  - 172.20.80.0/22
  - 172.20.95.0/24
  - 172.20.192.0/19
  # REQUIRED FOR LOCAL/QEMU USER-NET (host->guest port forward shows as 10.0.2.2)
  - 10.0.2.0/24

ssh_allowed_cidrs:
  - 10.249.64.0/18
  - 10.249.0.0/18
  - 128.112.0.0/16
  - 172.20.80.0/22
  - 172.20.95.0/24
  - 172.20.192.0/19
  # REQUIRED FOR LOCAL/QEMU USER-NET (host->guest port forward shows as 10.0.2.2)
  - 10.0.2.0/24

# Enable fail2ban (install + enable service)
fail2ban_backend: systemd
fail2ban_bantime: 1h        # how long to ban
fail2ban_findtime: 10m      # window to count failures
fail2ban_maxretry: 5        # attempts before ban

# Never ban these ranges (SSH-allowed CIDRs)
fail2ban_ignoreips:
  - 127.0.0.1/8
  - ::1
  - 10.249.64.0/18
  - 10.249.0.0/18
  - 128.112.0.0/16
  - 172.20.80.0/22
  - 172.20.95.0/24
  - 172.20.192.0/19
  #  REQUIRED FOR LOCAL/QEMU USER-NET
  - 10.0.2.0/24

# UFW defaults (Ubuntu/Debian)
ufw_default_incoming: deny
ufw_default_outgoing: allow
ufw_enable_now: true

# Firewalld defaults (Rocky/RHEL)
firewalld_zone: public

security_local_test: false

